* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  /* transition: 0.5s; */
}

/* Variables */

* {
  --bgClr: #909ce2;
  --txtClr: #323030;
  --mainClr: #ffffff;
  --transition: 0.5s ease-in-out;
}

/* Common Classes */

.hr {
  width: 90vw;
  margin: auto;
}
.h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
.section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 3rem;
  margin-left: 3rem;
}
a {
  text-decoration: none;
  color: var(--txtClr);
}
p {
  font-size: 1.1rem;
}

/* Navbar */

nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 10;
  top: 0;
  position: fixed;
  background: var(--mainClr);
}
.logo > img {
  width: 5rem;
  margin: 0.4rem;
}
.logo > img:hover {
  cursor: pointer;
}
.links {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
li > a {
  text-decoration: none;
  color: var(--txtClr);
}
.links > li {
  margin: 0.4rem;
  list-style-type: none;
  padding: 0.5rem;
  border-radius: 10px;
  line-height: 0.9;
}
li:hover {
  transition: var(--transition);
  cursor: pointer;
  background: var(--bgClr);
}
.active {
  background: var(--bgClr);
}

/* Home Section */

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left > h1 {
  font-size: 4rem;
  font-weight: 500;
}
.right > img {
  width: 50rem;
  border-radius: 2rem;
  margin-top: 3rem;
}
.social {
  font-size: 3rem;
  text-align: center;
}

/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about > img {
  width: 20rem;
}
#about > p {
  text-align: justify;
  margin-right: 2rem;
}

/* Message */
.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.msg > div > h2 {
  text-align: center;
}
.msg > div {
  padding: 2rem;
  box-shadow: 10px 8px 10px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: var(--transition);
  background: var(--mainClr);
  margin-top: 2rem;
}

.msg > div:hover {
  transform: scale(1.1);
}
.msg > div:nth-child(even) {
  margin-right: 1rem;
  margin-left: 1rem;
  border-right: 2px solid var(--txtClr);
  border-left: 2px solid var(--txtClr);
}

/* School Head */
.schlHead {
  display: flex;
  justify-content: center;
}
.schlHead > div > img {
  width: 20rem;
  border: 0.3rem solid var(--bgClr);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 1rem;
}
.schlHead > div {
  margin: 1rem;
}
